<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit About Image</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/service_img_list" class="navbar-brand">⬅ Back</a>
  </div>
</nav>

<div class="container mt-5">
  <div class="card shadow border-0">
    <div class="card-header bg-warning text-white">
      <h4>Edit Image</h4>
    </div>

    <div class="card-body">
      <form action="/update_service_img" method="post" enctype="multipart/form-data">

        <input type="hidden" name="id" value="<%= result[0].id %>">
        <input type="hidden" name="oldimg" value="<%= result[0].about_img %>">

        <div class="mb-3">
          <label class="fw-bold">Upload New Image</label>
          <input type="file" name="service_img" class="form-control">
        </div>

        <p class="mt-2">Current Image:</p>
        <img src="/<%= result[0].service_img %>" width="120">

        <button class="btn btn-warning w-100 mt-3">Update Image</button>

      </form>
    </div>
  </div>
</div>

</body>
</html>
